.leaflet-sidebar {
  position: absolute;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  z-index: 2000; }
  .leaflet-sidebar.left {
    left: -500px;
    transition: left 0.5s, width 0.5s;
    padding-right: 0; }
    .leaflet-sidebar.left.visible {
      left: 0; }
  .leaflet-sidebar.right {
    right: -500px;
    transition: right 0.5s, width 0.5s;
    padding-left: 0; }
    .leaflet-sidebar.right.visible {
      right: 0; }
  .leaflet-sidebar > .leaflet-control {
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 24px;
    font-size: 1.1em;
    background: white;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    -webkit-border-radius: 4px;
    border-radius: 4px; }
    .leaflet-touch .leaflet-sidebar > .leaflet-control {
      box-shadow: none;
      border: 2px solid rgba(0, 0, 0, 0.2);
      background-clip: padding-box; }
  @media (max-width: 767px) {
    .leaflet-sidebar {
      width: 100%;
      padding: 0; }
      .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 100%; }
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 100%; }
      .leaflet-sidebar.left {
        left: -100%; }
        .leaflet-sidebar.left.visible {
          left: 0; }
      .leaflet-sidebar.right {
        right: -100%; }
        .leaflet-sidebar.right.visible {
          right: 0; }
      .leaflet-sidebar > .leaflet-control {
        box-shadow: none;
        -webkit-border-radius: 0;
        border-radius: 0; }
        .leaflet-touch .leaflet-sidebar > .leaflet-control {
          border: 0; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .leaflet-sidebar {
      width: 390px; }
      .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 390px; }
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 390px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .leaflet-sidebar {
      width: 390px; }
      .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 390px; }
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 390px; } }
  @media (min-width: 1200px) {
    .leaflet-sidebar {
      width: 460px; }
      .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 460px; }
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 460px; } }
  .leaflet-sidebar .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 31px;
    height: 31px;
    color: #333;
    font-size: 25px;
    line-height: 1em;
    text-align: center;
    background: white;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    cursor: pointer;
    z-index: 8; }

.leaflet-left {
  transition: left 0.5s; }

.leaflet-right {
  transition: right 0.5s; }

icons: {
  add_group: 'fas fa-plus-square',
  add_rule: 'fas fa-plus-circle',
  remove_group: 'fas fa-minus-square',
  remove_rule: 'fas fa-minus-circle',
  error: 'fas fa-exclamation-triangle'
}

.query-builder, .query-builder * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.query-builder {
  font-family: sans-serif;
}

.query-builder .hide {
  display: none;
}

.query-builder .pull-right {
  float: right !important;
}

.query-builder .btn {
  text-transform: none;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.query-builder .btn.focus, .query-builder .btn:focus, .query-builder .btn:hover {
  color: #333;
  text-decoration: none;
}

.query-builder .btn.active, .query-builder .btn:active {
  background-image: none;
  outline: 0px none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.query-builder .btn-success {
  color: #FFF;
  background-color: #5CB85C;
  border-color: #4CAE4C;
}

.query-builder .btn-primary {
  color: #FFF;
  background-color: #337AB7;
  border-color: #2E6DA4;
}

.query-builder .btn-danger {
  color: #FFF;
  background-color: #D9534F;
  border-color: #D43F3A;
}

.query-builder .btn-success.active, .query-builder .btn-success.focus,
.query-builder .btn-success:active, .query-builder .btn-success:focus,
.query-builder .btn-success:hover {
  color: #FFF;
  background-color: #449D44;
  border-color: #398439;
}

.query-builder .btn-primary.active, .query-builder .btn-primary.focus,
.query-builder .btn-primary:active, .query-builder .btn-primary:focus,
.query-builder .btn-primary:hover {
  color: #FFF;
  background-color: #286090;
  border-color: #204D74;
}

.query-builder .btn-danger.active, .query-builder .btn-danger.focus,
.query-builder .btn-danger:active, .query-builder .btn-danger:focus,
.query-builder .btn-danger:hover {
  color: #FFF;
  background-color: #C9302C;
  border-color: #AC2925;
}

.query-builder .btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.query-builder .btn-group > .btn {
  position: relative;
  float: left;
}

.query-builder .btn-group > .btn:first-child {
  margin-left: 0px;
}

.query-builder .btn-group > .btn:first-child:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.query-builder .btn-group > .btn:last-child:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.query-builder .btn-group .btn + .btn, .query-builder .btn-group .btn + .btn-group,
.query-builder .btn-group .btn-group + .btn, .query-builder .btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

.query-builder .btn-xs, .query-builder .btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
